<p>
  <b>Host:</b>
  <%=h @log.host %>
</p>

<p>
  <b>Facility:</b>
  <%=h @log.facility %>
</p>

<p>
  <b>Priority:</b>
  <%=h @log.priority %>
</p>

<p>
  <b>Level:</b>
  <%=h @log.level %>
</p>

<p>
  <b>Tag:</b>
  <%=h @log.tag %>
</p>

<p>
  <b>Datetime:</b>
  <%=h @log.datetime %>
</p>

<p>
  <b>Program:</b>
  <%=h @log.program %>
</p>

<p>
  <b>Msg:</b>
  <%=h @log.msg %>
</p>

<p>
  <b>Seq:</b>
  <%=h @log.seq %>
</p>

<p>
  <b>Counter:</b>
  <%=h @log.counter %>
</p>

<p>
  <b>Fo:</b>
  <%=h @log.fo %>
</p>

<p>
  <b>Lo:</b>
  <%=h @log.lo %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>